.center-text {
  text-align: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute-0000 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.v-align-transform {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width:599px) {
  .v-align-transform {
    top: 50%;
    left: 50%;
  }
}
.upper {
  text-transform: uppercase;
}
@media only screen and (min-width: 781px) {
  .text-right {
    text-align: right;
  }
}
.nowrap {
  white-space: nowrap;
}
.splide__slide {
  padding: 10px;
}
.splide__slide img {
  width: 100%;
}
.content-section {
  background-color: #202020;
  padding: 5px 10px;
}
.vid-image {
  height: 202px;
  width: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 781px) {
  .vid-image {
    height: auto;
  }
}
@media only screen and (min-width: 1370px) {
  .vid-image {
    height: 202px;
  }
}
.content-area ul li.splide__slide {
  width: auto!important;
}
@media (min-width: 700px) {
  .content-area ul li.splide__slide {
    width: 50%!important;
  }
}
@media (min-width: 992px) {
  .content-area ul li.splide__slide {
    width: 25%!important;
  }
}
.active-films-single {
  margin: 0px 10px;
  display: flex;
  flex-wrap: wrap;
}
.active-films-single .active-films-name {
  width: 100%;
}
.active-films-single .active-films-date {
  display: inline;
}
.active-films-single p {
  display: inline;
  font-size: 16px;
  margin-bottom: 0px;
}
